[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CancerSubtypes"]
	path = CancerSubtypes
	url = https://github.com/taoshengxu/cancersubtypes
[submodule "miRBaseConverter"]
	path = miRBaseConverter
	url = https://github.com/taoshengxu/mirbaseconverter
